- MYSQL_DB_NAME: <something>
- MYSQL_DB_USER: <something>
- MYSQL_DB_PASSWORD: <something>
- MYSQL_DB_HOST: <something>
- MYSQL_ROOT_PASSWORD: <something>
- INITIAL_ADMIN_USER: <something>
- LEXIS_NEXIS_CLIENT_ID: <something>
- LEXIS_NEXIS_CLIENT_SECRET: <something>
- SSL_PRIVATE_KEY_FILE: <something>
- SSL_CERT_FILE: <something>
- ALLOWED_HOSTS: <something>
- PREFERRED_HOST_URL: <something>
